<app-header></app-header>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white; font-size: 16px;">Loading... please wait</p>
</ngx-spinner>
<div class="container mt-6">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <ng-container *ngIf="!isUserCreated">
                <form #addUserForm="ngForm">
                    <div class="headings">Add New User</div>
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col-md-7 side-border">
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>First Name</mat-label>
                                                <input required #fName="ngModel" nameOnly minlength="3" maxlength="50" name="firstname" [(ngModel)]="firstName" matInput placeholder="Enter First Name" />
                                            </mat-form-field>
                                            <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="text-danger mt--1">
                                                <div class="f-12" *ngIf="fName.errors.required">First Name is required</div>
                                                <div class="f-12" *ngIf="fName.errors.minlength">First Name must be at least 3 characters</div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Last Name</mat-label>
                                                <input name="lastname" nameOnly maxlength="50" [(ngModel)]="lastName" matInput placeholder="Enter Last Name" />
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email Address</mat-label>
                                                <input required #emailID="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="emailId" maxlength="100" matInput placeholder="Enter Email Id" />
                                            </mat-form-field>
                                            <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)" class="text-danger mt--1">
                                                <div class="f-12" *ngIf="emailID.errors.required">Email Address is required</div>
                                                <div class="f-12" *ngIf="emailID.errors.minlength">Email Address must be at least 3 characters</div>
                                                <div class="f-12" *ngIf="emailID.errors.pattern && !emailID.errors.minlength">Invalid Email Address</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Phone Number</mat-label>
                                                <input required numbersOnly #phone="ngModel" minlength="10" maxlength="10" name="phoneNumber" [(ngModel)]="phoneNumber" matInput placeholder="Enter Phone Number" />
                                            </mat-form-field>
                                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger f-12 mt--1">
                                                <div *ngIf="phone.errors.required">Phone Number is required</div>
                                                <div *ngIf="phone.errors.minlength">Phone Number must be 10 digits</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Designation</mat-label>
                                                <input #desg="ngModel" maxlength="50" name="desgnation" [(ngModel)]="desgN" matInput placeholder="Enter Designation" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4 mb-3">
                        <button mat-raised-button class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
                        <button mat-raised-button class="btn btn-primary" [disabled]="addUserForm.invalid" (click)="createData()">Create</button>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="isCreated">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <mat-card>
                    <mat-card-content>
                        <div class="text-center">
                            <img mat-card-image class="tick-icon" src="assets/images/check_circle_outline.png" alt="" />
                            <h5>
                                record created Successfully
                            </h5>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="text-center m-3">
                    <button mat-raised-button class="btn btn-primary" (click)="cancel()">Ok</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>